{% load i18n compress qhonuskan_votes %} {% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My OPED List</title>

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{% static 'less/styles.less' %}">{% endcompress %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.css" />
    <noscript>
        <link type="text/css" href="{% static 'css/noscript.css' %}" rel="stylesheet" />
    </noscript>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}" alt="My OPED List" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="">{% trans 'Songs' %}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'songs:top_songs' %}">{% trans 'Best ranked' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'Recently added' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'Most popular' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'Top playlists' %}</a>
                            </li>
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="dropdown">
                    <a href="">My stuff <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'song_list_by_user' user.username %}">{% trans 'My OPED list' %} </a>
                            </li>
                            <li>
                                <a href="{% url 'users:reviews' user.username %}">{% trans 'My reviews' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'My recommendations' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'My playlists' %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="">{{ user.username }}  <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'users:detail' user.username %}">{% trans 'View profile' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'users:profile_update' %}">{% trans 'Edit profile' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'View friends' %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans 'Pending requests' %}</a>
                            </li>
                        </ul>
                    </li>
                        <li>
                        <a href="{% url 'account_logout' %}" class="#">{% trans 'Logout' %}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'account_login' %}" class="btn-login">{% trans 'Login' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'account_signup' %}" class="btn-primary">{% trans 'Signup' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% comment %}
    <div class="search-bar-wrapper">
        <div class="container">
            <form class="navbar-form navbar-left pull-right" role="search" action="{% url 'search' %}" method="GET">
                <div class="input-group input-group-sm">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="search-type-title">
                            {% if search_type == 'users' %} {% trans 'Users' %} {% else %} {% trans 'Games' %} {% endif %}
                            <span class="caret"></span>
                        </button>
                        <select id="search-type-select" name="search_type" class="form-control">
                            <option value="games" {% if search_type != 'users' %}selected="true" {% endif %}>{% trans 'Games' %}</option>
                            <option value="users" {% if search_type == 'users' %}selected="true" {% endif %}>{% trans 'Users' %}</option>
                        </select>
                        <script>
                        $('#search-type-select').addClass('hidden');
                        </script>
                        <ul class="dropdown-menu" id="search-type-ul">
                            <li><a href="">{% trans 'Games' %}</a>
                            </li>
                            <li><a href="">{% trans 'Users' %}</a>
                            </li>
                        </ul>
                    </div>

                    <input id="search-box" class="form-control" type="text" name="q" placeholder="{% if not query %}{% trans 'Search&#8230;' %}{% endif %}" autocomplete="off" {% if query %}value="{{ query }}" {% endif %}>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endcomment %}
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block page_header %}{% endblock %}</h1>
            </div>
        </div>
        <!-- /.row -->

        {% block content %}{% endblock %}

    </div>
    <!-- /.container -->
</body>