{% extends 'base.html' %} {% load i18n humanize%}
{% block page_header %}{% trans 'Recent activity' %}{% endblock page_header%}
{% block content %}

    <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
            <section>
                <h3 class="section-title">{% trans 'Popular songs this month' %}</h3>
                {% for s in popular_last_month %} {% url 'song_detail' s.song_id as song_url %}
                    <table class="table table-no-borders">
                        <tr>
                            <td class="col-md-3">
                                <a href="{{ song_url }}">
                                    <img class="img-responsive" src="{{ s.song__thumb_url }}">
                                </a>
                            </td>

                            <td class="col-md-9">
                                <p><a href="{{ song_url }}">{{ s.song__title }}</a></p>
                                <p class="text-muted">{% blocktrans with c=s.count plural=s.count|pluralize %}Added {{ c }} time{{ plural }} in the last 30 days{% endblocktrans %}</p>
                            </td>
                        </tr>
                    </table>
                {% empty %}
                    <p>{% trans 'No entries were added this month.' %}</p>
                {% endfor %}
            </section>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <section>
                <h3 class="section-title">{% trans 'Best ranked songs this month' %}</h3>
                {% for b in best_last_month %} {% url 'song_detail' b.entry.song_id as song_url %}
                    <table class="table table-no-borders">
                        <tr>
                            <td class="col-md-3">
                                <a href="{{ song_url }}">
                                    <img class="img-responsive" src="{{ b.song__thumb_url }}">
                                </a>
                            </td>

                            <td class="col-md-9">
                                <p><a href="{{ song_url }}">{{ b.song__title }}</a>
                                <p class="text-muted">{% blocktrans with avg=b.average %}Scored {{ avg }}{% endblocktrans %}</p>
                                </p>
                            </td>
                        </tr>
                    </table>
                {% empty %}
                    <p>{% trans 'No entries were added this month.' %}</p>
                {% endfor %}
        </div>
        <div class="col-md-4">
            <section>
                <h3 class="section-title">{% trans 'Latest reviews' %}</h3>
                {% for r in reviews %} {% url 'song_detail' r.entry.song_id as song_url %}
                    <table class="table table-no-borders">
                        <tr>
                            <td class="col-md-3">
                                <a href="{{ song_url }}">
                                    <img class="img-responsive" src="{{ r.entry.song.thumb_url }}">
                                </a>
                            </td>

                            <td class="col-md-9">
                                <p><a href="{{ song_url }}">{{ r.entry.song.title }}</a></p>
                                <p>By <a href="{% url 'users:detail' r.entry.user %}">{{ r.entry.user }}</a></p>
                                <p>Created {{ r.entry.date_created|naturaltime }}</p>
                                <p>Review: {{ r.text|truncatewords:15 }}</p>
                                <p><a href="{% url 'users:reviews' r.entry.user %}#{{ r.entry.song.title }}">Full</a></p>
                            </td>
                        </tr>
                    </table>
                {% empty %}
                    <p>{% trans 'No entries were added this month.' %}</p>
                {% endfor %}
            </section>
        </div>
    </div>
    <!-- /.row -->

{% endblock content%}
