html                        { overflow-y: scroll; }



.reasonbar                  { padding: 4px 0 4px 150px; overflow: hidden;
    width: 540px; color: white; }

.reason                     { width: 49%; float: right; text-align: right; text-transform: uppercase;
    letter-spacing: 2px; padding: 0 5px 0 0; }

