.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;

    .navbar-brand {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.navbar-default {
    .navbar-brand > img {
        @media screen {
            max-height: 40px;
            @media (min-width: @screen-sm-min) {
                max-height: none;
            }
        }
    }
    .navbar-nav {
        > li {
            margin-top: 14px;
            margin-bottom: 14px;

            &.dropdown:hover .dropdown-menu {
                display: block;
            }
            &.open > a {
                &:hover,
                &:focus {
                    color: white;
                }
            }
            & > a {
                &:not(.btn) {
                    border: 3px solid transparent;
                    margin-left:10px;
                    color: @blue;
                    &:hover{
                        background-color: lighten(#5a79c1, 30%);
                    }
                }
                &.btn-login {
                    border: 3px solid @blue;
                }
                &.btn-primary {
                    margin-left:10px;
                    background-color: @blue;
                    color: white;
                    border : 3px solid @blue;
                    &:hover{
                        background-color: darken(#e1e7f5, 30%);
                        border: 3px solid darken(#e1e7f5, 30%);
                    }
                }
            }
        }
    }
}