@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

@import "bootstrap/bootstrap.less";

@import "variables.less";
@import "mixins.less";
@import "nav.less";
@import "header.less";
@import "footer.less";

.page-header {
  margin-top: @line-height-computed;
}

section {
    &:first-child > h3 {
        margin-top: 0px;
    }
    > h3 {
        padding: 2px 0px 2px 10px;
        border-left: 4px solid @blue;
    }
}

.table {
	.img-responsive {
		width:100%;
	}
	&.table-no-borders {
       &, td {
        border: 0px none;
       }
       margin-bottom: 5px;
       margin-top: @line-height-computed - 5px;
	}
}

#filterable-items .mix {
    display: none;
}

.friend-request .panel-body {
  padding-left: 0px;
  padding-right: 0px;
}

.vote_buttons {
    a {
      color: @gray-light;
      display: inline-block;
      &, &:hover, &:focus {
        text-decoration: none;
      }
      &:first-of-type {
        margin-right: 10px;
      }
      &.voted {
        &.upVote {
          color: @brand-success;
        }
        &.downVote {
          color: @brand-danger;
        }
      }
    }
}

.top-count {
  font-size: 30px;
  color: @gray-light;
}