@font-family-base: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

@blue-dark:   #092D3D;
@blue:        #3153a4;
@pink:        #FF6563;
@pink-dark:   #E53D3D;
@gray-custom: #DFE5E9;

@brand-primary:      darken(#428bca, 6.5%);
@btn-default-color:  #333;
@btn-default-bg:     #fff;
@btn-default-border: #ccc;

// Typography
@font-size-h1: floor((@font-size-base * 2.6));
@font-size-h3: ceil((@font-size-base * 1.7));

@icon-font-path: "fonts/";

// Basics of a navbar
@navbar-default-bg:     #f8f8f8;
@navbar-default-border: darken(@navbar-default-bg, 6.5%);

// Basics of panels
@panel-bg: #fff;

// Navbar links
@navbar-height:                   40px;
@navbar-default-link-color:       #777;
@navbar-default-link-hover-color: #333;
@navbar-default-link-hover-bg:    transparent;

// Badges
@badge-bg: @blue;
