{% extends 'base.html' %} {% load i18n staticfiles user_tags %}
{% block page_header %}

    {% blocktrans with username=object.username %}
        {{ username }}'s profile
    {% endblocktrans %}

{% endblock page_header %}

{% block content %}

    <div class="row">

        <div class="text-center col-md-3">
            <img src="{% avatar_or_default object %}" alt="{% trans 'User picture' %}" class="img-responsive"/>
            <table class="table table-no-borders">
                <tr>
                    <td class="text-right">{% trans 'Joined' %}</td>
                    <td>{{ object.date_joined|date:"d/m/y" }}</td>
                </tr>
                <tr>
                    <td class="text-right">{% trans 'Last online' %}</td>
                    <td>{{ object.last_login|date:"d/m/y" }}</td>
                </tr>
                <tr>
                    <td class="text-right">{% trans 'Gender' %}</td>
                    <td>{{ object.userprofile.get_gender_display }}</td>
                </tr>
                <tr>
                    <td class="text-right">{% trans 'Country' %}</td>
                    <td>{{ object.userprofile.get_country_display }}</td>
                </tr>
            </table>

            {% if request.user != user %}
                <a href="{% url 'song_list_by_user' object.username %}"
                   class="btn btn-default btn-block">{% trans 'Song list' %}</a>
            {% else %}
                <a href="{% url 'users:profile_update' %}"
                   class="btn btn-default btn-block">{% trans 'Edit profile' %}</a>
            {% endif %}
        </div>

        <div class="col-md-9">
            <ul class="nav nav-pills">
                <li {% if not reviews_page %} class="active" {% endif %}><a
                        href="{% url 'users:detail' object.username %}">{% trans 'Details' %}</a>
                </li>
                <li {% if reviews_page %}class="active" {% endif %}><a
                        href="{% url 'users:reviews' object.username %}">{% trans 'Reviews' %}</a>
                </li>
            </ul>

            {% block user_profile_content %}
                {% if reviews_page %}
                    {% for obj in reviews %}
                        {% include 'songs/_user_review_layout.html' %}
                    {% empty %}
                        <p>{% trans "This user hasn't written any reviews yet." %}</p>
                    {% endfor %}
                {% else %}
                    <section>
                        <h3>{% trans 'Last list updates' %}</h3>
                        {% for obj in updates %} {% include 'songs/_user_entry_layout.html' %} {% empty %}
                            <p>{% trans "This user hasn't added any songs to its list yet." %}</p>
                        {% endfor %}
                        <hr/>
                    </section>

                    <section>
                        <h3>{% trans 'Reviews' %}</h3>
                        {% for obj in reviews %} {% include 'songs/_user_review_layout.html' %} {% empty %}
                            <p>{% trans "This user hasn't written any reviews yet." %}</p>
                        {% endfor %}
                        <hr/>
                    </section>

                    <section>
                        <h3>{% blocktrans with username=object.username %}About {{ username }}{% endblocktrans %}</h3>
                        {% if object.profile.about %}
                            {{ object.profile.about|safe }}
                        {% else %}
                            {% trans "This user has no bio yet." %}
                        {% endif %}
                    </section>
                {% endif %}
            {% endblock %}
        </div>

    </div>

{% endblock %}
