{% extends "base.html" %} {% load i18n crispy_forms_tags %} {% block page_header %}{% trans "Edit profile" %}{% endblock %} {% block content %}

    <div class="row">

        <div class="col-md-6 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% crispy form %}
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
{% endblock %} {% block extrascripts %} {{ form.media|safe }} {% endblock %}
