{% load i18n staticfiles user_tags %} {% url 'home' as home_url %}
{% with user_profile=obj.entry.user entry=obj.entry %}
    <section>
        <table class="table table-no-borders">
            <tr>
                {% block table_content %}
                {% endblock table_content %}

                <td class="text-right col-md-6">
                    <p>
                        {% blocktrans with score=obj.entry.score %} Given score: {{ score }} {% endblocktrans %}
                    </p>
                </td>
            </tr>
        </table>
        {{ obj.text|linebreaks }}
        {% if request.user == obj.entry.user %}
        <div class="text-right">
            <a href="{% url 'review_update' obj.pk %}" class="btn btn-default btn-xs">{% trans 'Edit' %}</a>
            <a href="{% url 'review_delete' obj.pk %}" class="btn btn-default btn-xs">{% trans 'Delete' %}</a>
        </div>
        {% endif %}
        {% if not forloop.last %}
            <hr />
        {% endif %}
    </section>
{% endwith %}
