{% load i18n %} {% load i18n qhonuskan_votes staticfiles user_tags %} {% url 'home' as home_url %}
{% with user_profile=obj.entry.user %}
    <section>
        <table class="table table-no-borders">
            <tr>
                <td class="col-md-1">
                    <a href="{% url 'song_detail' obj.song.id %}">
                        <img class="img-responsive"
                             src="{% if obj.song.thumb_url %}{{ obj.song.thumb_url }}{% endif %}">
                    </a>
                </td>
                <td class="col-md-5">
                    <p>
                        <a href="{% url 'song_detail' obj.song.id %}">{{ obj.song.title }}</a>
                    </p>
                </td>

                <td class="text-right col-md-6">

                    <p>
                        {% blocktrans with score=obj.score %} Given score: {{ score }} {% endblocktrans %}
                    </p>
                </td>
            </tr>
        </table>
        {{ obj.text|linebreaks }}
        {% if user_profile == user %}
            <div class="text-right">
                <a href="{% url 'entry_update' obj.pk %}" class="btn btn-default btn-xs">{% trans 'Edit' %}</a>
                <a href="{% url 'entry_delete' obj.pk %}" class="btn btn-default btn-xs">{% trans 'Delete' %}</a>
            </div>
        {% endif %} {% if not forloop.last %}
        <hr/>{% endif %}
    </section>
{% endwith %}
