{% extends 'songs/_review_layout.html' %}
{% load i18n %}
{% block table_content %}
    <td class="col-md-1">
        <a href="{% url 'song_detail' entry.song.id %}">
            <img class="img-responsive" src="{% if entry.song.thumb_url %}{{ entry.song.thumb_url }}{% endif %}">
        </a>
    </td>
    <td class="col-md-5">
        <p><a name="{{ entry.song.title }}" href="{% url 'song_detail' entry.song.id %}">{{ entry.song.title }}</a>
        </p>
        {% if request.get_full_path == home_url %}
            <p>{% trans 'By' %} <a href="{% url 'users:detail' user_profile.username %}">{{ user_profile.username }}</a>
            </p>
        {% else %}
            <p><a href="{% url 'song_review_by_song' entry.song.id %}">{% trans 'View other reviews for this song' %}</a>
            </p>
        {% endif %}
    </td>
{% endblock %}
