{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block page_header %}
    {% if not form.instance.pk %}
        {% blocktrans with song_title=song.title %}
            Add {{ song_title }} to my list
        {% endblocktrans %}
    {% else %}
        {% blocktrans with song_title=form.instance.song.title %}
            Edit {{ song_title }} in my list
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% crispy form %}
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

{% endblock %}

