{% extends 'base.html' %}
{% load i18n %}

{% block page_header %}{% trans 'Remove song from list' %}{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-12">

            <form action="" method="POST">{% csrf_token %}
                <p>{% trans 'Are you sure you want to remove this song from your list?' %}</p>
                <input class="btn btn-primary" type="submit" value="{% trans 'Confirm' %}" />
                <a href="" class="btn btn-default" id="cancel">{% trans 'Cancel' %}</a>
            </form>
        </div>

        <script type="text/javascript">
            $('#cancel').click(function (e) {
                e.preventDefault();
                history.back();
            });
        </script>
    </div>

{% endblock %}
