{% extends 'base.html' %} {% load i18n imagekit %} {% load static from staticfiles %}

{% block page_header %}

    {% blocktrans with title=anime.title %}
        {{ title }}'s OPED list
    {% endblocktrans %}

{% endblock page_header %}

<style>
img {
    max-width: 100%;
    max-height: 100%;
}
    .square {
        height: 75px;
        width: 75px;
    }
</style>

{% block content %}

    {% for s in object_list %}
    {% url 'song_detail' s.id as song_url %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="{{ song_url }}">
                    <link rel="stylesheet" type="text/css" href="{% static 'css/oped_img.css'%}">
                    <img class="oped-img" src="{{ s.thumb_url }}"/>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p><a href="{{ song_url }}">{{ s.title }}</a></p>
                <p>{{ s.oped }} {{ s.number|default_if_none:"-" }}</p>
            </div>
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination pagination-centered">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page=1">
                                &laquo;</a>
                        </li>
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}">
                                &lt;</a>
                        </li>
                    {% endif %} {% for i in paginator.page_range %}
                    <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %} {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

