{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block page_header %}
    {% if not form.instance.id %}
        {% blocktrans with song_title=song.title %}
            Write review for {{ song_title }}
        {% endblocktrans %}
    {% else %}
        {% blocktrans with song_title=object.entry.song.title %}
            Edit review for {{ song_title }}
        {% endblocktrans %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% crispy form %}
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

{% endblock %}
