{% extends 'base.html' %} {% load i18n %} {% load static from staticfiles %}

{% block page_header %}

    {% blocktrans with username=user_profile.username %}
        {{ username }}'s songs list
    {% endblocktrans %}

{% endblock page_header %}

{% block content %} {% regroup object_list|dictsortreversed:"score" by get_score_display as score_list %}

    <div class="row">

        {% if score_list %}
            <div class="col-md-12 text-left">
            <link rel="stylesheet" type="text/css" href="{% static 'css/force_scrollbar.css'%}">
            <div class="btn-group text-center" id="catpicker">
                <div class="btn-group dropup" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by score <span class="caret"></span>
                </button>
                    <link rel="stylesheet" type="text/css" href="{% static 'css/horizontal_scores.css'%}">
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <script src="{% static 'js/filter.js' %}"></script>
                        <a href="#" id="allcat" class="current btn btn-primary" disabled="disabled">{% trans 'No filter' %}</a>
                        {% for e in score_list %}
                            <a href="#" id="{{ e.grouper|slugify }}" class="filter btn btn-primary">{{ e.grouper }}</a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            </div>
        {% endif %}

        <div class="col-md-12">

            {% for e in score_list %}
                <section class="discounted-item {{ e.grouper|slugify }}">
                    <h3 class="section-title">{{ e.grouper }}</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-5">{% trans 'Song title' %}</th>
                            <th class="col-md-1">{% trans 'Favored' %}</th>
                            <th class="col-md-3">{% trans 'From anime(s)' %}</th>
                            <th class="col-md-1">{% trans 'Type' %}</th>
                            <th class="col-md-1">{% trans '#' %}</th>
                            <th class="col-md-3">{% trans 'Artist' %}</th>
                            {% if user_profile == user %}
                                <th class="col-md-2"></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in e.list %}
                            <tr>
                                <td>
                                    <a href="{% url 'song_detail' entry.song.id %}">{{ entry.song.title }}</a>
                                </td>
                                <td>
                                    {{ entry.get_favored_display|default_if_none:"-" }}
                                </td>
                                <td>
                                    {% for anime in entry.song.anime.all %}
                                        <a href="{% url 'song_list_by_anime' anime.id %}">{{ anime.title }}</a>
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ entry.song.oped }}
                                </td>
                                <td>
                                    {{ entry.song.number|default_if_none:"-" }}
                                </td>
                                <td>
                                    {{ entry.song.artist }}
                                </td>
                                {% comment %}<td>
                                    {{ entry.score|default_if_none:"" }}
                                </td>
                                {% endcomment %}
                                {% if user_profile == user %}
                                    <td class="text-right">
                                        <a href="{% url 'entry_update' entry.id %}" class="btn btn-default btn-xs">{% trans 'Edit' %}</a>
                                        <a href="{% url 'entry_delete' entry.id %}" class="btn btn-default btn-xs">{% trans 'Remove' %}</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
            {% empty %}
                <p>{% trans "This user hasn't added any songs to its list yet." %}</p>
            {% endfor %}

        </div>

    </div>
    <!-- /.row -->

{% endblock %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.table').DataTable({% if lang != 'English' %}{
                "language": {
                    {% with 'json/dataTables_'|add:lang|add:'.json' as lang_file %}
                        "url": "{% static lang_file %}"
                    {% endwith %}
                }
                }{% endif %});
        });
    </script>
{% endblock %}
