{% extends 'base.html' %} {% load i18n staticfiles user_tags %}

{% block page_header %}{{ object.title }}{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-3">
            <img class="img-responsive" src="{% if object.thumb_url %}{{ object.thumb_url }}{% endif %}" alt="">
            <table class="table table-no-borders">
                <tr>
                    <td class="text-right col-md-6">{% trans 'Anime' %}</td>
                    <td class="col-md-6">
                        {% for anime in object.anime.all %}
                            {{ anime.title }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">{% trans 'Artist' %}</td>
                    <td>
                        {{ object.artist }}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">{% trans 'OP/ED' %}</td>
                    <td>
                        {{ object.oped }}
                    </td>
                </tr>
                {% if object.number %}
                <tr>
                    <td class="text-right">{% trans '#' %}</td>
                    <td>
                        {{ object.number }}
                    </td>
                </tr>
                {% endif %}
            </table>
            {% user_song_entry user object.id as entry %}
            {% if not entry %}
                <a href="{% url 'entry_create' object.id %}"
                   class="btn btn-default btn-block">{% trans 'Add to my list' %}</a>
            {% else %}
                {% if not entry.songreview %}
                    <a href="{% url 'review_create' object.id %}"
                       class="btn btn-default btn-block">{% trans 'Write review' %}</a>
                {% else %}
                    <a href="{% url 'review_update' entry.songreview.pk %}"
                       class="btn btn-default btn-block">{% trans 'Edit my review' %}</a>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-md-9">
            <ul class="nav nav-pills">
                <li {% if detail_page %}class="active"{% endif %}><a
                        href="{% url 'song_detail' object.id %}">{% trans 'Details' %}</a></li>
                <li {% if reviews_page %}class="active"{% endif %}><a
                        href="{% url 'song_review_by_song' object.id %}">{% trans 'Reviews' %}</a></li>
            </ul>
            {% block song_content %}
                {% if reviews_page %}
                    {% for obj in object_list %}
                        {% include 'songs/_song_review_layout.html' %}
                    {% empty %}
                        <p>{% trans "There are no reviews for this song yet." %}</p>
                    {% endfor %}
                {% else %}
                    {% if object.overview %}
                    <section>
                        <h3 class="section-title">{% trans 'Overview' %}</h3>
                        <p>{{ object.overview }}</p>
                        <hr/>
                    </section>
                    {% endif %}
                    <section>
                        <h3 class="section-title">{% trans 'Latest reviews' %}</h3>
                        {% for obj in reviews %}
                            {% include 'songs/_song_review_layout.html' %}
                        {% empty %}
                            <p>{% trans "There are no reviews for this song yet." %}</p>
                        {% endfor %}
                        <hr/>
                    </section>

                {% endif %}
            {% endblock %}
        </div>
    </div>
    <!-- /.row -->

{% endblock %}
