{% extends 'base.html' %} {% load i18n crispy_forms_tags %} {% load static from staticfiles %}

{% block page_header %}{% trans 'Top songs' %}{% endblock %}

{% block content %}
    {% for s in object_list %}
        {% url 'song_detail' s.song__id as song_url %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="top-count text-center col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        {{ forloop.counter0|add:page_obj.start_index }}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a href="{{ song_url }}">
                            <link rel="stylesheet" type="text/css" href="{% static 'css/oped_img.css'%}">
                            <img class="oped-img" src="{{ s.song__thumb_url }}">
                        </a>
                    </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p><a href="{{ song_url }}">{{ s.song__title }}</a></p>

                        <p class="text-muted">{% blocktrans with avg=s.average %}Scored {{ avg }}{% endblocktrans %}</p>

                        <p class="text-muted">{% blocktrans with c=s.count plural=s.count|pluralize %}Added {{ c }} time{{ plural }}{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
    {% comment %}

            <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <tr>
                        <td class="col-md-2 top-count text-center">
                            {{ forloop.counter0|add:page_obj.start_index }}
                        </td>
                        <td class="col-md-3">
                            <a href="{{ song_url }}">
                                <img class="img-responsive" src="{{ s.song__thumb_url }}">
                            </a>
                        </td>

                        <td class="col-md-7">
                            <p><a href="{{ song_url }}">{{ s.song__title }}</a></p>

                           <p class="text-muted">{% blocktrans with avg=s.average %}Scored {{ avg }}{% endblocktrans %}</p>

                            <p class="text-muted">{% blocktrans with c=s.count plural=s.count|pluralize %}Added {{ c }} time{{ plural }}{% endblocktrans %}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endcomment %}
    {% if is_paginated %}
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination pagination-centered">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page=1">
                            &laquo;</a>
                    </li>
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}">
                            &lt;</a>
                    </li>
                {% endif %} {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %} {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
{% endblock %}
